#a1 {
    width: 210px;
    height:250px;
    margin: 0 auto;
    border: 1px solid #999999;
    padding: 20px;

}
.zh{
    width: 200px;
    height: 30px;
    margin-top: 20px;
}

#btn {
    width: 206px;
    height: 30px;
    margin-top: 20px;
    background-color: #0D7631;
    border: 0;
    color: white;
}

#p1 {
    font-size:13px ;
    color: #999999;
}