<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<form action="loginSuccess.ejs" id="a1">
    <input type="text"placeholder="请输入已验证手机/邮箱"  class="zh">
    <input type="text"placeholder="请输入密码"  class="zh">
    <p id="p1">忘记密码?</p>
    <button type="submit" id="btn">提交</button>
</form>
</body>
</html>