<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>

  </style>
  <link rel="stylesheet" href="/stylesheets/css.css">


</head>
<body>
<!--头部-->
<div id="head">
  <!--头部的背景-->
  <div class="head_wrap">
    <!--头部logo部分-->
    <div class="head_logo"></div>
    <!--头部选择种类-->
    <div class="head_nav">
      <div class="head_nav_type">
        <div class="type-page"><a href="">首页</a></div>
        <div class="type-read"><a href="">阅读</a></div>
        <div class="type-tv"><a href="">电台</a></div>
        <div class="type-chip"><a href="">碎片</a></div>
        <div class="type-client"><a href="">客户端</a></div>
      </div>
    </div>
    <!--头部登录注册-->
    <div class="head_login">
      <div class="login_logo">
        <div class="login_logo_border">

        </div>
        <img src="http://qnstatic.pianke.me/public/assets/img/edit-icon.png" alt="" width="19px" height="20px"
             class="pen">
      </div>
      <div class="login_txt"><span id="delay">登录 / 注册</span></div>
    </div>
  </div>
</div>

<!--主体部分-->
<div class="container">
  <div class="container_top">
    <div class="container_top_1">
      <div class="container_top_1_img"><img
                src="../img/10ec7bfffb06c90f7d36421df5afaebf20170321.jpg" height="640" width="640"/></div>
      <div class="container_top_1_text">
        <div class="heng"></div>
        <span>这样锻炼,你才会掌握说话</span>
      </div>
    </div>
    <div class="container_top_2 container_top_float">
      <div class="container_top_2_img"><img
                src="../img/b7ba659ac441c3996e12be395ba61bcb20170501.jpg" height="640" width="640"/></div>
      <div class="container_top_2_text">
        <div class="heng"></div>
        <span>有社交恐惧症的你,应该怎么办</span>
      </div>
    </div>
    <div class="container_top_3 container_top_float">
      <div class="container_top_3_img"><img
                src="../img/fdb9e3529e71d35abc1b574005b1e35a20170508.jpg" height="640" width="640"/></div>
      <div class="container_top_3_text">
        <div class="heng"></div>
        <span>怎么样找到自己真正想做的事?</span>
      </div>
    </div>
    <div class="container_top_4 container_top_float">
      <div class="container_top_4_img"><img
                src="../img/4b9cabfe7bdaef3757ce818f1617776020170509.jpg" height="640" width="640"/></div>
      <div class="container_top_4_text">
        <div class="heng"></div>
        <span>坚持写账135天,生活发生改变</span>
      </div>
    </div>
    <div class="container_top_5 container_top_float">
      <div class="container_top_5_img"><img
                src="../img/d261c1e53975eca13bb0f6ac83f62a4a20170225.jpg" height="640" width="640"/></div>
      <div class="container_top_5_text">
        <div class="heng"></div>
        <span>外公的两条命</span>
      </div>
    </div>
  </div>
  <div class="container_read">
    <div class="read_title">
      阅读 | Read
    </div>
    <div class="read_box1">
      <div class="read_box1_wrap">
        <div class="read_box_title">当我谈跑步时,我在谈爱情</div>
        <div class="read_box_writer"><a href="">By / 阿帆哒</a>
        </div>
        <div class="read_box_txt">
          <div class="read_box_txt_heng">——</div>
          我辞职的理由是回家。在北京，平均跳槽时间是一年半，在所有辞职理由中，不到百分之二十是真实的。我在这家创业公司做了两年，职位是设计师，老板待我很好。
          <span class="view_all"><a href="">VIEW ALL
                    <img src="http://qnstatic.pianke.me/public/assets/img/viewall.png" alt="">
                    </a>
                    </span>
        </div>
        <div class="read_box_comment">2.0 k次阅读  |  评论:43  |  喜欢:608</div>
      </div>
      <div class="read_box_img"><img src="../img/b963239b505140283a6cd87275ecbb8520170720.gif"/></div>
    </div>
    <div class="read_box2">
      <div class="read_box1_wrap">
        <div class="read_box_title">超能力</div>
        <div class="read_box_writer"><a href="">By / Whale</a>
        </div>
        <div class="read_box_txt">
          <div class="read_box_txt_heng">——</div>
          01   路过小区里公园的花坛时，她往往会在原地停留了片刻，像是在等候什么一样。等候之余，她会四处看看，趁没人注意的时候，她还会蹲下来，“喵喵喵”的叫
          <span class="view_all"><a href="">VIEW ALL
                    <img src="http://qnstatic.pianke.me/public/assets/img/viewall.png" alt="">
                    </a>
                    </span>
        </div>
        <div class="read_box_comment">361次阅读  |  评论:2  |  喜欢:23</div>
      </div>
      <div class="read_box_img"><img src="../img/37563e4b91cdb37d6784d234454d8f5020170619.jpg" /></div>

    </div>
    <div class="read_box3">
      <div class="read_box1_wrap">
        <div class="read_box_title">黄泉馆·倒霉鬼</div>
        <div class="read_box_writer"><a href="">By / 子夜辰星</a>
        </div>
        <div class="read_box_txt">
          <div class="read_box_txt_heng">——</div>
          1.   俗话说，人走运的时候，出门就能捡到钱。人倒霉的时候，喝凉水都能塞着牙缝。人的运势自然是有起有落，有高有低。 据说一个人如果运势旺，做事情就会顺风顺
          <span class="view_all"><a href="">VIEW ALL
                    <img src="http://qnstatic.pianke.me/public/assets/img/viewall.png" alt="">
                    </a>
                    </span>
        </div>
        <div class="read_box_comment">680次阅读  |  评论:0  |  喜欢:34</div>
      </div>
      <div class="read_box_img"><img src="../img/47f879d4128bb2b0922861a77e8f598d20170426.jpg"/></div>
    </div>
  </div>
  <div class="container_ting">
    <div class="ting_title">TING</div>
    <div class="ting_wrap">
      <div class="ting_wrap_box" style="margin: 0">
        <div class="ting_wrap_box_img">
          <img src="../img/57f193998c938ee4af38188f36a82c63.PNG@640w_85Q.jpg" height="640" width="640"/>
          <div class="ting_wrap_box_imgMeng"></div>
          <div class="ting_wrap_box_imgLogo"><img src="../img/play-icon.png" height="82" width="82"/></div>
        </div>
        <div class="ting_wrap_box_title">【和你在一起】</div>
        <div class="ting_wrap_box_writer">主播 / 「么凹」</div>
        <div class="ting_wrap_box_comment">159.1 k次播放  |  评论:35  |  喜欢:671</div>
      </div>
      <div class="ting_wrap_box">
        <div class="ting_wrap_box_img">
          <img src="../img/1aeb41fd6c4ad8dc43c4f5cc3ead2c2b.JPG@640w_85Q.jpg" height="640" width="640"/>
          <div class="ting_wrap_box_imgMeng"></div>
          <div class="ting_wrap_box_imgLogo"><img src="../img/play-icon.png" height="82" width="82"/></div>
        </div>
        <div class="ting_wrap_box_title">遇见</div>
        <div class="ting_wrap_box_writer">主播 / 乐希文</div>
        <div class="ting_wrap_box_comment">149.1 k次播放  |  评论:182  |  喜欢:1.6 k</div>
      </div>
      <div class="ting_wrap_box">
        <div class="ting_wrap_box_img">

          <img src="../img/b8a32b3ea57071e991cba55aa25ce834.PNG@640w_85Q.jpg" height="640" width="640"/>
          <div class="ting_wrap_box_imgMeng"></div>
          <div class="ting_wrap_box_imgLogo"><img src="../img/play-icon.png" height="82" width="82"/></div>
        </div>
        <div class="ting_wrap_box_title">把悲伤留给自己</div>
        <div class="ting_wrap_box_writer">主播 / TingK</div>
        <div class="ting_wrap_box_comment">73.7 k次播放  |  评论:77  |  喜欢:645</div>
      </div>
    </div>
  </div>
  <div class="container_pianker">
    <div class="pianker_title">人气片客 | Hot Pianker</div>
    <div class="pianker_wrap">
      <div style="margin: 0">
        <div class="pianker_box">
          <div class="pianker_box_head"><img src="../img/4cca2c8e44c978c11697d580db691bb220170209.jpeg" height="90" width="90"/>
          </div>
          <img src="../img/music.png" height="48" width="132" class="musicPeople"/>
          <div class="pianker_box_indroduce">
            <div class="pianker_userName">王睿 Ray</div>
            <div class="pianker_heng">—</div>
            <div class="pianker_jieShao">流行歌手王睿</div>
          </div>
        </div>
      </div>
      <div>
        <div class="pianker_box">
          <div class="pianker_box_head">
            <img src="../img/9a7018ced880d6f925b02b91934c9f1520170726.jpeg" height="90" width="90"/>
          </div>
          <img src="../img/music.png" height="48" width="132" class="musicPeople"/>
          <div class="pianker_box_indroduce">
            <div class="pianker_userName">陆深兽</div>
            <div class="pianker_heng">—</div>
            <div class="pianker_jieShao">片刻翻唱达人陆深深</div>
          </div>
        </div>
      </div>
      <div>
        <div class="pianker_box">
          <div class="pianker_box_head">
            <img src="../img/8b29dc859b74cb196f7b071ab94470d820170126.jpg" height="90" width="90"/>
          </div>
          <img src="../img/music.png" height="48" width="132" class="musicPeople"/>
          <div class="pianker_box_indroduce">
            <div class="pianker_userName">阿见</div>
            <div class="pianker_heng">—</div>
            <div class="pianker_jieShao">独立音乐人，电台主持人。</div>
          </div>
        </div>
      </div>
      <div>
        <div class="pianker_box">
          <div class="pianker_box_head">
            <img src="../img/a8688a423d9d55a9db48d0d5298a594d20170601.jpeg" height="90" width="90"/>
          </div>
          <img src="../img/music.png" height="48" width="132" class="musicPeople"/>
          <div class="pianker_box_indroduce">
            <div class="pianker_userName">贤菌</div>
            <div class="pianker_heng">—</div>
            <div class="pianker_jieShao">靠脸吃饭，臭不要脸！</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container_btn">
    <div class="more_button">
      <div class="btn_box">
        <div class="btn_more">查看更多精选内容</div>
      </div>
    </div>
  </div>
  <div class="backTop"><img src="../img/back-top.png" height="56" width="56"/></div>
  <div class="pubu"></div>
</div>

<!--底部-->
<div class="footer">
  <div class="footer_wrap">
    <div class="footer_logo"></div>
    <div class="footer_link">
      <a href="">关于我们</a>
      <a href="">友情链接</a>
      <a href="">片刻帮助</a>
      <a href="">意见反馈</a>
      <a href="">成长记忆</a>
      <br>
      <span>All rights reserved © 2016 pianke.me /蜀ICP备12022689号-1</span>
    </div>
    <div class="footer_icon">
      <div class="icon_phone"></div>
      <div class="icon_sina"></div>
      <div class="weiXin">
        <div class="weChart_hover"></div>
        <div class="weChart_jiao"></div>
      </div>
      <span class="safe"></span>
    </div>
  </div>
</div>
<script src="/javascripts/jquery-3.2.1.js"></script>
<script src="/javascripts/js.js"></script>
</body>
<script>


</script>
</html>